<footer role="contentinfo" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="link">
                    <!-- <ul class="justify-content-center">
                        <li><a class="copyright-text" href="#">home</a></li>
                        <li><a class="copyright-text" href="#">couple</a></li>
                        <li><a class="copyright-text" href="#">invitation</a></li>
                        <li><a class="copyright-text" href="#">album </a></li>
                        <li><a class="copyright-text" href="#">friends say</a></li>
                        <li><a class="copyright-text" href="#">gift</a></li>
                    </ul> -->
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 navbar-footer">
                        <li class="nav-item active mx-2">
                          <a class="nav-link" routerLink="/home">Home </a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link"routerLink="/about">About</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link"routerLink="/contact">Contact</a>
                        </li>
                      </ul>
                </div>
                <hr>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <div class="social-link">
                        <ul class="ul-footer">
                            <li class="nav-item"><a class="copyright-text" target="_blank" href="https://www.facebook.com/prommin.intani"><i aria-hidden="true" class="fa fa-facebook"></i></a>
                            </li>
                            <li class="nav-item"><a class="copyright-text" target="_blank" href="https://www.twitter.com"><i aria-hidden="true" class="fa fa-twitter"></i></a>
                            </li >
                            <li class="nav-item"><a class="copyright-text" target="_blank" href="https://www.google.com"><i aria-hidden="true" class="fa fa-google"></i></a>
                            </li>
                            <li class="nav-item"> <a class="copyright-text " target="_blank" href="https://www.instagram.com"><i aria-hidden="true" class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="m-l-auto center-para">
                    <h6 class="copyright-text text-center" style="padding-top: 6px;">© 2023 PHROMMIN's Portfolio powered by PHROMMIN INTANI</h6>
                </div>
            </div>
        </div>
    </div>
</footer>