<main role="main">
  <div style="background-color: #f5f5f8;">
    <div class="row">
      <div class="col-lg-5 col-md-6">
        <img src="{{ 'assets/image/myPhoto.jpg' }}" alt="My image" class="w-100">
      </div>
      <div class="col-lg-6 col-md-6 offset-lg-1">
        <div class="center-text">
          <div class="py-5">
            <div class="header-sub-text">
              <h5 class="text-hash text-uppercase"># Web developer</h5>
            </div>
            <div class="header-text">
              <h1><span class="bold-text">Hi, I’m</span><br> Phrommin Intani</h1>
            </div>
            <div class="header-sub-text">
              <h6 class="title">
                <span class="title-word title-word-1">Angular ,</span>
                <span class="title-word title-word-2">Vue.js ,</span>
                <span class="title-word title-word-3">React.js ,</span>
                <span class="title-word title-word-4">Node.js</span>
              </h6>
              <!-- <h4 class="font-secondary">swift , <span class="typed-resume">objective-c, S</span></h4> -->
            </div>
            <div class="header-sub-text">
              <p class="font-secondary font-large">Experience 4 years in web application development,
                Make the back-end and front-end connect to REST API
                My greatest strength is always learning for new programming language technique.
                It's enables me to professional in web developer.</p>
            </div>
            <ul class="navbar-nav" style="display: flex;    flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;">
              <li class="nav-item mx-2"><a class="btn btn-dark">know more</a></li>
              <li class="nav-item mx-2"><a class="btn btn-dark" href="assets/files/Professional CV Resume.pdf"
                  target="_blank">download cv</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #ffffff;">
    <div class="container py-5">
      <div style="display: flex;flex-direction: column;
            align-items: center;">
        <h6 class="font-primary borders main-text text-uppercase"><span>about</span></h6>
        <div class="sub-title">
          <div>
            <h2 class="title-text">My Working Skills</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-6">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/five.png">
            </div>
            <h4>5 Year iOS Development Experience</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Create and edit applications that Highly complex. Able to analyze solutions for developing. Fix error
                and problems that can occur in development.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/software.png">
            </div>
            <h4>MVVM Software Architecture</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Use MVVM programming structure which separates the operation of UI and data from each other in the
                Controller.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/swift.png">
            </div>
            <h4>Swift<br>Standard Coding</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Write code neatly using Swift Guildeline. Accepted writing standard. Helps to standardize code and easy
                to read.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/chip.png">
            </div>
            <h4>Device Memory Management</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Develop apps by considering the efficiency and power consumption of the device. With run at full
                efficiency and use least resources.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6" id="skill-ui-ux">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/design-team.png">
            </div>
            <h4>Complex<br>UI/UX Design</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Layout application with Apple design guideline. Development an animation for app completeness and
                interesting.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6" id="skill-app-performance">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/startup.png">
            </div>
            <h4>App Performance Improvment</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Managing app data request and user interdace with consistently and smoothly.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6" id="skill-unit-test">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/checklist.png">
            </div>
            <h4>App<br>Unit Testing</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Develop apps by considering the efficiency and power consumption of the device. With run at full
                efficiency and use least resources.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6" id="skill-publish-app">
          <div class="text-center radial">
            <div class="img-block">
              <img alt="" style="padding: 20px 0px 20px 0px;" class="service-img img-fluid"
                src="assets/images/resume/skills/user.png">
            </div>
            <h4>Publish In-House<br>&amp; App Store App</h4>
            <div class="border-container">
              <div class="borders-bottom"></div>
            </div>
            <div>
              <p>Have experience in publishing app on IN-HOUSE App and Apple Store and can solve an app store publishing
                problems</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #f5f5f8;">
    <div class="container py-5">
      <div style="display: flex;flex-direction: column;
            align-items: center;">
        <h6 class="font-primary borders main-text text-uppercase"><span>DETAILS</span></h6>
        <div class="sub-title">
          <div>
            <h2 class="title-text">Working Experience</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/cocoapods.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Cocoapods</h4>
                  <p>Development with 1000+ library, keyboard manager, social signin, image loader</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid"
                    src="assets/images/resume/service-exprience/no-storyboard.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">No Storyboard UI</h4>
                  <p>NO-Storyboard layouting, using programming layout anchor and stackview instead</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/firebase.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Firebase</h4>
                  <p>Experince using firebase to send push notification, app analytics, crash analitics</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/customview.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Custom View</h4>
                  <p>Can create a view like design, view animation, stackview, collection view dynamic height</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/git.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Source Control</h4>
                  <p>Experience versioning source code, co-development code with Git on Github and others</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/xc-test.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Xcode Test</h4>
                  <p>Create app unit test and UI test for testing app function &amp; module with Xcode Test</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/rxswift.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">RxSwift</h4>
                  <p>Development with reactive programming makes simpler to do async task</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service  text-center bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid"
                    src="assets/images/resume/service-exprience/googlecloud.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Google Cloud</h4>
                  <p>Experience using sdk form google, Google Maps, Google Place, Google Sign-in</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/app-data.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">Data Management</h4>
                  <p>Manage app data with base-class, singleton class, text-localization, class extension</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 p-l-0">
              <div class="service bg-white">
                <div class="img-block">
                  <img alt="" class="service-img img-fluid" src="assets/images/resume/service-exprience/app-store.png">
                </div>
                <div class="service-feature">
                  <h4 class="feature-text text-center">In-App purchase</h4>
                  <p>Experience create in-app purchase, app subscription, non-consumable items</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #f5f5f8;">
    <div class="container py-5">
      <div style="display: flex;flex-direction: column;
            align-items: center;">
        <h6 class="font-primary borders main-text text-uppercase"><span>DETAILS</span></h6>
        <div class="sub-title">
          <div>
            <h2 class="title-text">Working Experience</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="cal-time">
            <div class="time">
              <h5 class="text-capitalize">Working as iOS Developer</h5>
            </div>
          </div>
          <div class="event-container scrollbar">
            <div>
              <div class=" cal-time events">
                <div class="row">
                  <div class="col-md-10">
                    <div class="schedule-event">
                      <h4 class="names">iOS Developer</h4>
                      <img alt="" class="img-fluid schedule-img" src="assets/images/resume/icon/nextzy.png">
                      <p class="schedule-description">Working as mid-level iOS programmer, Develop and deliver app for
                        AIS corporation. Improvement and maintenance AIS Easy App and myAIS application. Develop Paotung
                        application.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="timing">
                      <h5 class="active event-time center-content">Now</h5>
                      <div class="border-container">
                        <div class="border-dashed"></div>
                      </div>
                      <h5 class="event-time center-content">FEB 2020</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" cal-time events">
                <div class="row">
                  <div class="col-md-10">
                    <div class="schedule-event">
                      <h4 class="names">iOS Developer</h4>
                      <img alt="" class="img-fluid schedule-img" src="assets/images/resume/icon/zealtech.png">
                      <p class="schedule-description">Working as iOS programmer, Develop high performance native iOS
                        application for customer. My recent application is an app from Royal Thai Police – Police
                        Phonebook, an inform application form Department of Livestock Development, an e-learning
                        application from Office of the Basic Education Commission, a news application from Bank for
                        Agriculture and Agricultural Cooperatives.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="timing">
                      <h5 class="event-time">JAN 2020</h5>
                      <div class="border-container">
                        <div class="border-dashed"></div>
                      </div>
                      <h5 class="event-time">May 2017</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" cal-time events">
                <div class="row">
                  <div class="col-md-10">
                    <div class="schedule-event">
                      <h4 class="names">iOS Developer</h4>
                      <img alt="" class="img-fluid schedule-img" src="assets/images/resume/icon/wisdomvast.png">
                      <p class="schedule-description">Working as iOS programmer, Worked on AIS application. myAIS, AIS
                        Calling melody, Mistine Catalog application and Grab Chiangmai Redcar application.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="timing">
                      <h5 class="event-time center-content">Feb 2017</h5>
                      <div class="border-container">
                        <div class="border-dashed active"></div>
                      </div>
                      <h5 class="event-time center-content">JUN 2015</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" cal-time events">
                <div class="row">
                  <div class="col-md-10">
                    <div class="schedule-event">
                      <h4 class="names">Trainee Programmer</h4>
                      <img alt="" class="img-fluid schedule-img" src="assets/images/resume/icon/ibm.png">
                      <p class="schedule-description">Working as C# Programmer, Responsible for improve accrued interest
                        system for Kasikorn Bank. Working as Cobol Programmer, Programming and documenting CHEQUE system
                        for Kasikorn Bank.</p>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="timing">
                      <h5 class="event-time center-content">APR 2015</h5>
                      <div class="border-container">
                        <div class="border-dashed"></div>
                      </div>
                      <h5 class="event-time center-content">MAR 2014</h5>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
